<div *ngIf="aaa==1" class="d-flex justify-content-center">
    <img
        src="
    https://yuanxucong.oss-cn-hangzhou.aliyuncs.com/imgs/yw_on.jpg?OSSAccessKeyId=LTAI4Fhcvcfg2jQnGopSEBqu&Expires=1611295741&Signature=dyr6Nctf%2BTUpxGfmsDUqzpbYbCU%3D">
</div>
<div *ngIf="aaa==0" class="d-flex justify-content-center">
    <img
        src="
    https://yuanxucong.oss-cn-hangzhou.aliyuncs.com/imgs/yw_off.jpg?OSSAccessKeyId=LTAI4Fhcvcfg2jQnGopSEBqu&Expires=1611295703&Signature=%2FKvTDTIs%2FokRm8KCgA39pZDTNmw%3D">
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-info" (click)="back()">返回</button>
</div>